* {
    padding: 0;
    margin: 0;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: none;
    box-sizing: border-box;

    font-family: 'Nunito';
}

* {
    height: 100vh;
    width: 100%;
}

img {
    display: block;
}

.landing-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.landing-page > * {
    position: relative;
    text-align: center;

}

.landing-page img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    
    position: absolute;
    transition: all 0.2s linear;
    backdrop-filter: blur(0) grayscale(100%);
    background-color: rgba(0, 0, 0, 0.69);
}

.center:hover {
    backdrop-filter: blur(4px) grayscale(0);
    background-color: rgba(0, 0, 0, 0.42);
    color: transparent;
}

.center {
    font-size: 4rem;
    text-decoration: none;
    color: white;
}


@media only screen and (max-width: 920px) {
    .landing-page{
        display: flex;
        flex-flow: column nowrap;
    }
    
}